<div style="padding: 15px;">
  <form [formGroup]="form" style="display: inline-block;">
    <mat-form-field>
      <input matInput min="0" type="number" placeholder="Grid size" formControlName="gridSize">
    </mat-form-field>
    <mat-form-field>
      <input matInput min="100" step="100" type="number" placeholder="Interval" formControlName="period">
      <span matSuffix>ms</span>
    </mat-form-field>

  </form>

  <button mat-raised-button color="primary" (click)="getNextGrid()">NEXT</button>
  <button mat-raised-button color="warn" (click)="togglePause()">PAUSE</button>
  <button mat-raised-button color="warn" (click)="init()">RESET</button>
  <button mat-raised-button color="warn" (click)="init(true)">RESET + randomize</button>
  <span>Generation: {{generation}}</span>

</div>
<div class="center">
  <canvas #canvas width="1000" height="1000"></canvas>
</div>
