.dead {
  background-color: white;
}

.alive {
  background-color: black;
}

canvas {
  border: 3px solid red;
}

.center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
